.NavBar {
  padding: 0 1.5rem;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__link {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-grey-light;
  }

  &__link.active {
    color: $color-white;
    border-bottom: 2px solid $color-blue-primary;
  }
}

@media (width <= 768px) {
  .NavBar {
    padding: 0;

    &__link {
      font-size: 1.125rem;
    }
  }
}
