.SelectCurrency {
  &__label {
    @include font-set-label;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  &__select {
    padding: 0.5rem;
    border-radius: 5px;
  }
}

@media (width <= 768px) {
  .SelectCurrency {
    &__label {
      flex-direction: row;
    }
  }
}
